body {
    margin: 0;
    word-break: break-all;
    font-family: Arial, sans-serif;
    /* background-color: rgb(247, 247, 247); */

    background: rgb(232,232,252);
    background: linear-gradient(-25deg, rgb(197, 208, 223) 12%, rgba(245,255,255,1) 67%);
}

/* * {
    border-style: solid;
} */

h1 {
    margin: 0;
}

header {
    position: relative;
    display: flex;
    background-color: rgb(121, 124, 207);
    padding: 20px;
}

header .title a{
    color: white;
    text-shadow: 2px 2px 5px black;
}

header a{
    text-decoration: none;
}

header .usermenu{
    color: white;
    position: absolute;
    right: 0;
    padding-right: 20px;
}

header .usermenu a{
    color: white;
}

header .usermenu a:hover{
    text-decoration: underline;
}

table, th, tr {
    border: 0.5px solid black;
}

th {
    background-color: rgb(199, 204, 230);
}

tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

tr:nth-child(odd) {
    background-color: rgb(247, 247, 247);
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 7px 10px 10px rgba(82, 89, 92, 0.432);
}

.maintopics .topics{
    position: relative;
}

.maintopics a{
    text-decoration: none;
}

.maintopics .topics i{
    position: absolute;
    bottom: 0;
    color: rgb(77, 77, 77);
    font-size: 14px;
}

.maintopics .topics a{
    margin: 30px;
    font-size: large;
}

.maintopics a:hover{
    text-decoration: underline;
}

.maintopics .posts{
    width: 100px;
    text-align: center;
}

.maintopics .info{
    width: 250px;
    text-align: center;
    vertical-align: text-top;
}

.maintopics .info a{
    color: rgb(197, 0, 0);
}

.maintopics .date{
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
}

.maintopics .topics, .viewtopic .text{
    padding-right: 20px;
    word-break: break-all;
}

.viewtopic td{
    height: 50px;
}

.viewtopic .text{
    position: relative;
}

.viewtopic .text .content{
    /* letter-spacing: -1px;
    line-height: 17px; */
    white-space: pre-wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.viewtopic .username{
    position: absolute;
    color: rgb(133, 133, 133);
    font-size: 14px;
}

.viewtopic .operations{
    font-size: 14px;
    position: absolute;
    right: 0;
}

.viewtopic .operations a{
    text-decoration: none;
    color: red;
}

.viewtopic .operations a:hover{
    text-decoration: underline;
}

.viewtopic .vote{
    /* width: max-content; */
    width: 30px;
    vertical-align: text-top;
    text-align: center;
    /* word-break: normal; */
    user-select: none;
}

.viewtopic .vote a{
    text-decoration: none;
    color: blue;
}

.viewtopic .vote a:hover{
    text-decoration: underline;
}

.viewtopic .vote .voted{
    color: white;
    text-shadow: 0px 0px 2px black;
}

textarea {
    resize: none;
    width: 100%;
}

.pageview {
    margin: 20px;
}

footer {
    background-color: rgb(121, 124, 207);
    /* width: 100%;
    height: 70px;
    margin-top: 75px; */
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}