body {
    margin: 0;
    word-break: break-all;
    font-family: Arial, sans-serif;
    /* background-color: rgb(247, 247, 247); */

    background: rgb(232,232,252);
    background: linear-gradient(0deg, rgba(218,232,252,1) 12%, rgba(245,255,255,1) 67%);
}

h1 {
    margin: 0;
}

header {
    display: flex;
    background-color: rgb(121, 124, 207);
    padding: 20px;
}

header .title a{
    color: white;
    text-shadow: 2px 2px 5px black;
}

header a{
    text-decoration: none;
}

header .usermenu{
    color: black;
    position: absolute;
    right: 0;
    padding-right: 20px;
}

header .usermenu a{
    color: black;
}

header .usermenu a:hover{
    text-decoration: underline;
}

table, th, tr {
    border: 0.5px solid black;
}

th {
    background-color: rgb(199, 204, 230);
}

tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

tr:nth-child(odd) {
    background-color: rgb(247, 247, 247);
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 7px 10px 10px rgba(82, 89, 92, 0.432);
}

.maintopics .topics{
    position: relative;
}

.maintopics a{
    text-decoration: none;
}

.maintopics .topics i{
    position: absolute;
    bottom: 0;
    color: grey;
    font-size: 14px;
}

.maintopics .topics a{
    margin: 30px;
    font-size: large;
}

.maintopics a:hover{
    text-decoration: underline;
}

.maintopics .posts{
    width: 100px;
    text-align: center;
}

.maintopics .info{
    width: 250px;
    text-align: center;
    vertical-align: text-top;
}

.maintopics .info a{
    color: rgb(197, 0, 0);
}

.maintopics .date{
    text-align: right;
    font-size: 14px;
}

.maintopics .topics, .viewtopic .text{
    padding-right: 20px;
    word-break: break-all;
}

.viewtopic .text{
    line-height: 17px;
    /* white-space: pre; */
}

.viewtopic .info{
    width: 200px;
    vertical-align: text-top;
}

.viewtopic .info a{
    text-decoration: none;
    color: red;
}

.viewtopic .info a:hover{
    text-decoration: underline;
}

textarea {
    resize: none;
    width: 100%;
}

.pageview {
    margin: 20px;
}

footer {
    background-color: rgb(121, 124, 207);
    /* width: 100%;
    height: 100px; */
}