/* body {
    margin: 0;
} */

table, th, tr {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.maintopics .posts{
    width: 100px;
    text-align: center;
}

.maintopics .date{
    width: 200px;
    text-align: center;
}

.viewtopic .info{
    width: 200px;
    /* text-align: center; */
}